body,html {
  padding: 0;
}

.letter {
  background-color: #0069b3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  line-height: 1;
  cursor: pointer;
  max-width: 336px;
}

#column_container {
    width: 700px;
    margin: 0 auto;
    font-size: 0;
}

#column_1{
    width: 350px;
    margin: 0;
    padding: 0;
}
#column_2{
    width: 350px;
}